
/*
@font-face {
  font-family: "Hetilica";
  src: url("/fonts/hetilica.ttf");
}
*/

@font-face {
  font-family: "Ballpark";
  src: url("/fonts/ballpark.ttf");
}

/*
@font-face {
  font-family: "QuicksandBold";
  src: url("/fonts/Quicksand_Bold.otf");
}               
*/
                            
@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand_Light.otf");
}                           

/* yanked from web.mit.edu/jmorzins/www/palatino.html */
body { font-family: 
       "Palatino Linotype", /* Windows */
       "URW Palladio L",    /* Unix+FontConfig */
       "palladio l",	    /* Unix+X+freetype */
       palatino,	    /* Macos */
       "book antiqua",	    /* Win95 */
       serif;
}

h1, h2, h3, h4 {
  font-family: "Quicksand";
}


h1 {
  margin-bottom: 40px;
}

 
.sectionHead {
  color: #000;
}
   
#regularMap, #usaMap {
  padding: 5px;
  line-height: 0px;
  border: 1px solid #888;
  -moz-box-shadow: 2px 2px 4px #333;
  -webkit-box-shadow: 2px 2px 4px #333;
  box-shadow: 2px 2px 4px #333;
}

ul {
  list-style-type: circle;
}

ol, ul {
  margin-bottom: 1em;
}

ul p {
  line-height: normal;
}

p {
  margin-top: 1em;
  line-height: 1.5em;
}

#content {
  vertical-align: text-top;
}

.blockCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.bio {
  padding: 5px;
  line-height: 0px;
  border: 1px solid #888;
  -moz-box-shadow: 2px 2px 4px #333;
  -webkit-box-shadow: 2px 2px 4px #333;
  box-shadow: 2px 2px 4px #333;
  height: 350px;
  position: absolute
  top: 0%;
  margin-bottom: 20px;
}

#james-bio img {
  left: 0%;
}

#mike-bio img {
  right: 0%;
}

#pageContent a {
  font-weight: bold;
  color: #A6CFE3;
  text-decoration: none;
}
    
#pageContent a:hover {
  color: #FFA882;
}


/* header */

#headertext {
  font-size: 2em;
  font-family: "Ballpark";
}
 
#headertext a {
  color: #F5B657;
  text-decoration: none;
}
       
/* nav stuff */

#nav {
  font-size: 0.9em;
  padding-right: 20px;
}

#nav li {
  border-bottom: 1px solid #BBB;
}

#nav a {
  text-decoration: none;
  color: #333;
}

#nav li:hover {
  border-bottom: 1px solid #F45945;
}

/* inner-nav biz */

#inner-nav {
  -moz-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #C6A49A;
  background-color: #F2F2EE;
  color: #555;
}

#inner-nav ul {
  padding-left: 10px;
  margin-left: 0;
}

#inner-nav a {
  color: #EEAA88;
}

#inner-nav a:hover {
  color: #EEC290;
}

#innerPageNav {
  margin-bottom: 40px;
}

#innerPageNav ul li:before {
	content: "\00BB \0020";
} 

#jtweets ul, #mtweets ul, #innerPageNav ul {
  list-style-type: none;
}

#mtweets li, #jtweets li, #innerPageNav li {
  margin-bottom: 10px;
  font-size: 0.8em;
}

#header {
  background-image: url('/images/cropped_bikes800.jpg');
  -moz-border-bottom-left-radius: 15px;
  -moz-border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#footer {
  font-size: 0.8em;
  padding-bottom: 100px;
}

#footer a {
  text-decoration: none;
  color: #888;
}

#footer a:hover {
  color: #DDD;
}

#footer ul {
  list-style-type: none;
} 

#footer li {
  padding: 4px;
  color: #444;
}

#footer b {
  color: #8C6354;
}

#github {
  color: #555;
}
 
#github a {
  color: #8C6354;
}
 
