---
layout: withSidebar
title: Ad Hoc Adventure Time
---

<div id="fin">
  <h2>We made it!</h2>
  {% for post in site.posts limit:1 %}
  <a href="{{ post.url }}"
    title="IMG_0001_6 by james.ob, on Flickr"><img class="blockCenter framed"
    src="http://farm8.staticflickr.com/7011/6803853625_a0229fb4db.jpg"
    width="500" height="375" alt="IMG_0001_6"></a>
  <p>On July 14, 2011, Mike and I rolled across the golden gate bridge... <a
    href="{{ post.url }}">read more</a>.</p>
  {% endfor %}
</div>
 
<div id="news">
    <h2>Breaking news</h2>

    <ul class="daily-posts">
      {% for post in site.posts limit:3 %}
      <li>
      <h3 class="postTitle"><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <div class="dayDescription">
          <p>{{ post.content | strip_newlines | strip_html | truncatewords: 40 }}
          <b><a href="{{ post.url }}">read more</a></b>.
        </div>
      </li>
      {% endfor %}
    </ul>  
</div>

<div id="introText">
    <h2>You're doing what?</h2>

    <p>One night in the dead of January, I met my friend Mike Atkins in a bar
    called Galaxy Hut in Alexandria, VA. After settling down with a few brews,
    Mike told me about a plan he had to ride across the United States on his
    bicycle. 

    <p>I didn't know anything about bicycles, but I knew this was a fantastic
    idea. I leapt at it. The two of us immediately got me situated with some
    gear and we got to training. And now here we are, ready to leave on May
    18. Within these pages is our story, some information on how we got
    bootstrapped (as cheaply as possible!), and a daily log of our trip.
</div>

