<!DOCTYPE html>

<html>
<head>
  <title>{{ page.title }}</title>
  <meta name="author" content="James O'Beirne" />
 
  <link rel="stylesheet" href="/css/layout.css" type="text/css">
  <link rel="stylesheet" href="/css/presentation.css" type="text/css">

  <!-- <link rel="alternate" type="application/rss+xml" title="jamesob" 
  href="http://jamesob.nfshost.com/rss.xml" />
  -->
   
</head>

<body>

  <div id="page">
    <div id="header">
      <div id="headertext">

        <a href="/">Ad Hoc<br />Adventure<br />Time</a>
      </div>
    </div>

    <div id="nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="us.html">Meet your hosts</a></li>
        <li><a href="route.html">The route</a></li>
        <li><a href="logs">Daily logs</a></li>
        <li><a href="gear.html">Gear</a></li>
        <li><a href="preparing.html">Training and packing</a></li>
      </ul>
    </div>

    {{ content }}
 
    <div id="footer">

      <div id="contacts">

        <div id="mike-contact">
          <ul>
            <li><b>Mike Atkins</b></li>
            <li>matkins@gmu.edu</li>
          </ul>
        </div>                

        <div id="james-contact">
          <ul>
            <li><b>James O'Beirne</b></li>
            <li>james.obeirne@gmail.com</li>
            <li>twitter.com/jamesob</li>
          </ul>
        </div>

      </div>

    </div>
  </div>

</body>
</html>

