---
layout: base
headScripts: ["/js/twitter.js", "/js/jquery-1.5.2.min.js"]
---
  
<script type="text/javascript">
  $(document).ready(function() {
    /* 
         if we have h2s on page, create an "on this page" ul
     */
    if ($("#content h2").length) {
      $("#inner-nav").prepend("<div id='innerPageNav'></div>");
      $("#innerPageNav").append("<h4>On this page</h4>");
      $("#innerPageNav").append("<ul></ul>");
    }

    /* 
       anchor the h2s, fill out the "on this page" ul
     */
    $("#content h2").each(function(index) {
      var link = $(this).text().replace(/\W+/g, '');
      $(this).wrapInner('<div class="sectionHead" />');
      $(this).wrapInner('<a class="black" name="'+link+'" />');
      $("#innerPageNav ul").append("<li><a href=#"+link+'>'+ $(this).text() + "</a></li>");
    });
  });
</script>
       
<div id="content">

  {{ content }}

</div>

<div id="inner-nav">
  <ul>
  </ul>
  <div id="twitShite">
    <h4><a href="http://twitter.com/jamesob">@jamesob</a></h4>
    <div id="jtweets"></div>
    <script type="text/javascript">
      getTwitters('jtweets', { 
        id: 'jamesob', 
        count: 3, 
        enableLinks: true, 
        ignoreReplies: true, 
        clearContents: true,
        template: '"%text%"<br /><a href="http://twitter.com/%user_screen_name%/statuses/%id_str%/">%time%</a>'
      });
    </script>
    
    <h4><a href="http://twitter.com/apechimp">@apechimp</a></h4>
    <div id="mtweets"></div>
    <script type="text/javascript">
      getTwitters('mtweets', { 
        id: 'apechimp', 
        count: 1, 
        enableLinks: true, 
        ignoreReplies: true, 
        clearContents: true,
        template: '"%text%"<br /><a href="http://twitter.com/%user_screen_name%/statuses/%id_str%/">%time%</a>'
      });
    </script>

</div> 
                        
